* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    direction: rtl;
    text-align: right;
}

body {
    line-height: 1.6;
    background-color: #fdfdfd;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fafafa;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 3rem;
}

header p {
    font-size: 1.2rem;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background: rgb(255, 255, 0);
    color: #000000;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 10px;
    border-radius: 5px;
}

section {
    padding: 20px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    justify-content: space-between;
}

.gallery img {
    width: 30%;
    border-radius: 5px;
}

ul {
    list-style-type: none;
}

ul li {
    background:  #e78606;
    color: #000000;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.team-member {
    margin-bottom: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}